@import "../node_modules/bootstrap/less/bootstrap.less";
@import "../node_modules/bootstrap-material-design/less/bootstrap-material-design.less";

@red-axan: #EC3D00;
@blue-axan: #0075C4;
@black-axan: #1B1429;
@green-axan: #6BD425;
@grey-axan: #4A4238;

@brand-primary: @red-axan;
@brand-success: @light-green-700;
@brand-danger: @blue-axan;
@brand-warning: @green-axan;
@brand-info: @light-blue;

@body-bg: white;

.body{
    height:739px;
}

.hidden-by-default{
    display: none;
}
.unhide{
    display:block;
}

.header-panel {
    background-image: url("../img/darkWall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid darkgray;
    background-position: center center; 
    background-attachment: fixed;
    height: 25vh;
    // position: relative;    
    z-index: 3;
}

h1{
    padding-top: 20px;
    padding-left: 20px;
    color:@red-axan;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    text-align: left;
}

h1 small{
    color:white;
     -webkit-text-stroke: 1px #474547;
}

h2{
    color:@red-axan;
}

.nav-link{
    font-size: 1.5rem;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

.pages > div {
    padding: 0 5px;
    padding-top: 64px;
    margin: 0;
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
    margin-left: 1em;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.btn{
    background-color: @red-axan;
}