.header {
    background-image: url("img/brickWall.jpg");
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid darkgray;
    background-position: center center; 
    background-attachment: fixed;
}

.logo{
    padding-top:7vh;
}

.navbar{
    background-color:white;
    border-radius:none !important;
    border-bottom: 1px solid darkgray;
}

.nav-link{
     font-family: 'Gidugu', sans-serif;
     color: #6B5345;
     font-size: 3rem;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color:black;

}

/*Typografie*/

h1{
    color:white;
    -webkit-text-stroke: 1px black;
    font-family: 'Gidugu', sans-serif;
    font-size: 10rem;
    text-align: center;
}

h1 small{
    color:white;
}

h2{
    font-family: 'Gidugu', sans-serif;
     color: #6B5345;
    font-size: 5rem;
}

.dropdown-toggle{
    color:black;
}

