.header {
    background-image: url("img/brickWall.jpg");
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid darkgray;
    background-position: center center; 
    background-attachment: fixed;
}

.logo{
    padding-top:7vh;
}

.navbar{
    background-color:white;
    border-radius:none !important;
    border-bottom: 1px solid darkgray;
}

.nav-link{
     font-family: 'Gidugu', sans-serif;
     color: #1B1429;
     font-size: 3rem;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color:black;

}

.hidden-by-default{
    display: none;
}

.unhide{
    display:block;
}

/*Typografie*/

h1{
    color:white;
     font-size: 10em;
    font-weight: bold;
    -webkit-text-stroke: 1px#1B1429;
    font-family: 'Gidugu', sans-serif;
    text-align: center;
}

h1 small{
    color:white;
}

h2{
    font-family: 'Gidugu', sans-serif;
    color: #1B1429;
    font-size: 5rem;
}

legend{
    font-family: 'Gidugu', sans-serif;
    color: #1B1429;
    font-size: 4rem;
}

.dropdown-toggle{
    color:black;
}

